<div id="aboutContent" class="lightMonoFont">
    <div>
        <h2>Materials Modelling is Key to Innovation</h2>
        <div class="aboutTxtBlock">
            <p class="regularFont">The development of new and improved materials is a significant innovation driver for the global competitiveness and sustainability of European industry and society in general.</p>
            <p>It has been demonstrated in many individual cases that materials modelling is a key enabler of R&amp;D efficiency and innovation. Companies reported that computational modelling benefits include reduced R&amp;D time and cost, more efficient and targeted experimentation, more strategic approach to R&amp;D, a route to performance optimisation, wider patent protection, improved supply chain control, enhanced decision making and early understanding of application performance aiding faster and more assured market introduction.</p>

            <p>- But modelling today is still not always an essential part of or a critical tool in creative materials design or business decision making on product innovation.</p>
        </div>
    </div>
    <div class="darkseparator"></div>
</div>