<div class="titleMsg" style="color:black; padding: 10px">LOGIN</div>
<div id="authContainer">
    <div id="authContainer">
        <div class="loginTxt">
            To continue, please authorize the MODA App with your emmc.info account
        </div>
        <div style="text-align: center"><a class="customBtn" href="api/auth/wordpress" target="_self">AUTHORIZE &rsaquo;</a></div>
    </div>
    <div id="authContainer">
        <div class="loginTxt">
            If you don't have an account yet, you can easily create one now
        </div>
        <div style="text-align: center"><a class="customBtn" href="https://emmc.info/register/" target="_blank">REGISTER &rsaquo;</a></div>
    </div>
    <div id="authContainer">
        <div class="loginSubHeader">The EMMC Privacy Policy in A Nutshell</div>
        <div  class="loginSubContent"><br>User data collected in this form shall be used for the purposes of communications and networking actions of the EMMC.
            Full information of how you can manage your Data Privacy, along with how we use your information is available in our <br>
            <a href="https://emmc.info/5776-2/" target="_blank">Privacy and Data Protection</a>.
        </div>
    </div>
</div>
