<div id="authContainer">
    <div class="formContainer">
        <div class="titleMsg" style="color:black">REGISTER</div>
        <form name="authForm" id="authForm">
            <div class="inputwrapper">
                <div class="inputlabel">EMAIL ADDRESS:</div>
                <input class="input" id="emailinput" name="emailinput" type="email" ng-model="user.email" ng-keyup="($event.keyCode == 13) && checkemail()" ng-blur="checkemail()" ng-class="{'hasErrBorder': warnEmail}"></input>
            </div>
            <div class="inputwrapper">
                <div class="inputlabel">PASSWORD:</div>
                <input class="input" id="passinput" name="passinput" type="password" ng-model="user.password" ng-keyup="$event.keyCode == 13 && checkpassword()" ng-blur="checkpassword()" ng-class="{'hasErrBorder': warnPass}"></input>
            </div>
            <div class="inputwrapper">
                <div class="inputlabel">FULL NAME:</div>
                <input class="input" id="fullnameinput" name="fullnameinput" type="text" ng-model="user.name" ng-keyup="$event.keyCode == 13 && checkfullname()" ng-blur="checkfullname()" ng-class="{'hasErrBorder': warnFullName}"></input>
            </div>
            <div class="inputwrapper">
                <div class="inputlabel">COUNTRY:</div>
                <input class="input" id="countryinput" name="countryinput" type="text" ng-model="user.country" ng-keyup="$event.keyCode == 13 && checkcountry()" ng-blur="checkcountry()" ng-class="{'hasErrBorder': warnCountry}"></input>
            </div>
            <div class="inputwrapper">
                <div class="inputlabel">ORGANIZATION:</div>
                <input class="input" id="orgnameinput" name="orgnameinput" type="text" ng-model="user.org_name" ng-keyup="$event.keyCode == 13 && checkorgname()" ng-blur="checkorgname()" ng-class="{'hasErrBorder': warnOrgName}"></input>
            </div>

        </form>
    </div>
    <button class="customBtn" ng-click="register()">CONTINUE &rsaquo;</button>
</div>